*{
	margin: 0;
	padding: 0;
}
html{
  box-sizing: border-box;
}
img,iframe{
	max-width: 100%;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.container{
	width: 1250px;
	margin: 0 auto;
}

a{
	text-decoration: none;
}
@font-face{
	font-family: 'prisma';
	src: url('../fonts/Prisma.eot'),url('../fonts/Prisma.otf'),url('../fonts/Prisma.ttf'),url('../fonts/Prisma.woff');

}
.border{
	border: 1px solid black;

}
.logo{
	width: 25%;
}
.nav{
	width: 75%;
}
.nav li{
	display: inline;
	line-height: 50px;
}
.nav li a{
	color: black;
	padding:15px 20px;

}


.slider{
	background-image: url('../images/slider.jpg');
	background-size: cover;
	text-align: center;
	height: 450px;
}
.slider h1{
	color: #fff;
	letter-spacing:12px;
	padding-top: 100px;
	font-size: 4em;
	font-family: 'prisma' ;
}
.slider p{
	color: #fff;
	font-family: 'prisma';
	font-size: 3em;
}
.content{
	background-color: #eae8e5;
}
.col-3{
	width: 400px;
}
.col-3 img{
	width: 400px;
}
.primary-bg{
	background-color: #4eba82;
}
.primary-color{
	color: #4eba82;
}
.major-services{
	margin-top: -50px;
}
.img-head{
	padding: 15px;
}
@media (max-width: 990px){
	.nav{
		display: none;
	}
}